*{margin:0;
 padding:0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(218, 223, 86);
}

.tourist-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    padding: 30px;
}
.tourist-container h1{
    color: red;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(190, 226, 190);
}
.card img{
width:100%;
height: 180px;
object-fit: cover;
}

.card h3{
    margin:10px 0
}
.card p{
    padding:0 10px 15px;
    color:rgb(125, 125, 200)

}

button{
    padding: 5px;
    width:100px;
    background-color: rgb(87, 87, 234);
    color: white;
    border-radius: 5px;
  
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* MEDIAQUERY */

@media(max-width:576px){
    .tourist-container{
        grid-template-columns: 1fr;
        padding: 15px;

    }
}

@media(min-width:577px)and (max-width:768px){
    .tourist-container{
        grid-template-columns:repeat(2,1fr);
    }
}

@media (min-width:768px)and (max-width:1024px){
    .tourist-container{
        grid-template-columns:repeat(3,1fr);
    }
}

